body{

    background-blend-mode: multiply;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
}

@media(max-width:991px){
    .sidebar.offcanvas{
        background-color:rgba(255,255,255,0.15);
        backdrop-filter: blur(10px);
    }
} 

.navbar{
    margin-top: 20px;
}
.signupBut {
    background-color: rgb(244, 241, 241);
    border: 1px ;
    border-color: green;
    color: rgb(56, 56, 56);
}
.form-search.form-control {
    width:300px
}

.maincontent{
    background: url('newimages/bg.jpg') rgba(0,0,0,0.3);
}

.sticky-top-navbar {
    position: sticky;
    top: 0; /* Stick to the top of the viewport */
    z-index: 100; /* Adjust the z-index as needed */
  }

  .navbar-dark .navbar-nav .nav-link {
    color: black !important;
  }
  
  /* Target specifically the "Home" link */
  .navbar-dark .navbar-nav .nav-item.active .nav-link {
    color: black !important;
  }
  
  
  .navbar-toggler-icon {

    border-color: black;
  }
  
  .navbar .text-white {
    color: black; /* Change the text color to black */
  }
  