/* styles.css */
/* Reset default body margin and padding */
body {
    margin: 0px;
    padding: 0px;
    background-color: white;
}

.btn{
    border-radius: 10px;
}

/*nav bar*/
.navibar,#dropdowncolor{
    background-color: #005555;
    
}

.navbar{
    padding: 0px;
    
}
.navbar-nav{
    margin-left: auto;
}

.form-control{
    width: 450px;
}

/*first carousel*/

#carouseltext {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white; /* Customize text color */
    padding: 10px 20px; /* Customize padding */
    line-height: 1;
    font-size: 24px;
}

.firstcarousel{
    filter:brightness(50%);
    position: relative;
    .carousel-item{
        width: 100%; 
        height: 600px;
        padding: 0px;
    }
}

.populartext{
    margin-top: 500px;
}

.firstelement{
    position:relative;
}
/* #carouselExampleSlidesOnly {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
} */

.content {
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    position: absolute;
    z-index: 1
}


/* Cards */
.firstcard{
    margin: auto;
}
.card{
    border: none;
    border-radius: 0;
    box-shadow: 2px 6px 8px 0 rgba(22,22,26,0.18);
}

@media screen and (min-width: 568px){
.servicecards{
    display: flex;
}

.card{
    margin: 0 .5em;
    width: calc(100%/3);
}

.image-wrapper{
    height: 22vw;
    margin:0 auto ;
}
}

@media screen and (max-width: 567px){
    .card:not(:first-child){
        display:none;
    }
}

.image-wrapper img{
    max-width: 100%;
    max-height: 100%;
}

.carousel-control-prev,.carousel-control-next{
    background-color: #e1e1e1;
    width: 6vh;
    height: 6vh;
    border-radius: 50%;
    top:50%;
    transform: translateY(-50%);
}

/* features */
.features{
    background-color: rgb(187, 186, 186);
    display: flex;
}

.custom-card1{
    padding:auto;
    margin-top: 35px;
    width:auto;
}

/* Statistics */

/*Social*/

.social.list-inline {
    text-align: center; /* Center-align the icons */
    list-style: none; /* Remove list bullets */
    padding: 0;
    align-items: flex-end;
}

.social.list-inline li {
    display: inline-block;
    margin: 10px; 
    align-items: flex-end;
}
.social.list-inline a {
    text-decoration: none; /* Remove underlines from the icons */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%; /* Make the icons circular */
    width: 40px; /* Adjust the width and height as needed */
    height: 40px;
    background-color: #007bff; /* Add a background color */
    color: #fff; /* Icon color */
}

.person-contents h2{
    text-align: center;
    text-decoration: none;
}
.person-contents p{
    background-color: bisque;
}

/* footer */
.site-footer {
    color: #ffffff; 
    background-color: #005555;
}
.site-footer a {
    color: white; 
    text-decoration: none; 
}


